.music {
  height: 50px;
  width: 120px;
  border-color: #027ebc;
  background-color: #00aeef;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

.art {
  height: 50px;
  width: 120px;
  border-color: #027ebc;
  background-color: #00aeef;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin: auto;
  text-align: center;
}

h1{
  color: red;
  font-family: Hawaii 5-0, sans-serif;
}

body{
  background: url(https://cdn.filestackcontent.com/5bLHJSfRfu10iqTJ7qKH)
}

a:hover{
  border-color: black;
  border-radius: 50%;
}
